/* Colors
White: #fff
Light: rgba(150, 154, 156, 1) or #969A9C;
Grey: rgba(98, 104, 107, 1) or #62686B;
Dark: rgba(65, 69, 71, 1) or #414547;
#0094C2
#15b9ec
#00CA76
#525266
#660000
#F39237

Accent colors:
#495867
#580C1F
#495867
#F3A712

CF Colors
#4a4a4a
*/

/* Fonts
font-family: 'Athiti', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Habibi', serif;
font-family: 'raleway';
*/

/* Global traits */
* {
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  font-family: 'athiti', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #414547;
}
img {
  width: 100%;
  display: block;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
}
h3 {
  font-size: 1.25em;
  font-weight: 600;
}
h4 {
  font-size: 1.15em;
  font-weight: 400;
}

/* Link style */
a {
  color: #414547;
  text-decoration: none;
  font-weight: 600;
}
a:visited {
  /* color: #ff7f50; */
}
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #994c30;
}

/* Buttons */
#lg-button-br{
  display: none;
}
.button {
  display: inline-block;
  width: 200px;
  background-color: #ff7f50;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: opacity .5s;
  text-transform: uppercase;
  text-align: center;
}
.button:hover {
  opacity: 0.65;
  text-decoration: none;
}
.button.contact {
  background-color: #eee;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
  transition: background-color 1s, color 0.3s;
  width: 200px;
  margin: 1.5em auto;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}


/* ==========Layout styling========== */
.wrapper {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

/* ---Header section--- */
header {
  position: sticky;
  top: 0;
  background-color: #0094C2;
  padding: 20px 10px 0;
  text-align: center;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, .1);
}

header .wrapper{
  line-height: 0px;
}

.logo {
  margin: auto;
  max-width: 250px;
}
nav {
  line-height: 16px;
  margin-top: 10px;
}
/* Changed "nav>ul" to "ul" */
ul {
  display: inline;
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav>ul>li>a {
  /* border: 1px solid; */
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

/* ====================
Navigation effects
======================= */
/* Top and Bottom borders go out */
nav.container{
    margin: auto auto;
  	text-align: center;
  }
nav.container a{
    font-size: .7em;
    color: #FFF;
    text-decoration: none;
    margin: 7px 5px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
nav.topBotomBordersOut a:before, nav.topBotomBordersOut a:after{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: .5;
    transition: all 0.3s;
  }
nav.topBotomBordersOut a:before{
    top: 0px;
    transform: translateY(5px);
  }
nav.topBotomBordersOut a:after{
    bottom: 0px;
    transform: translateY(-5px);
  }
nav.topBotomBordersOut a:hover:before, nav.topBotomBordersOut a:hover:after{
    opacity: 1;
    transform: translateY(0px);
  }

/* ---Hero Section--- */
#hero {
  background-color: #0094C2;
  padding: 0 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
}
#hero p{
  max-width: 400px;
  margin: 16px auto;
}

/* ---Work Section--- */
/* ???Forced text align, but still why did about-page affect it??? */
#work h3 {
  /* text-align: left; */
  margin: 10px auto;
}
#work p {
  margin-top: 0;
}
#work .row {
  display: block;
  margin: 25px 0;
  border-bottom: 2px solid black;
  padding-bottom: 25px;
}

#last-project.row{
  border-bottom: 0px;
}

.project-img {
  width: 290px;
  /* display: block; */
  /* float:left; */
}

/* ---Footer section--- */
.icon {
  width: 32px;
  display: block;
  /* margin: 0 5px; */
}

.flex-icons{
  display: flex;
  width: 200px;
  justify-content: space-between;
}

#contact ul {
  list-style: none;
  padding: 0;
  margin: 16px auto;
}
#contact ul li {
  display: inline-block;
}
#contact ul>li>a {
  display: inline-block;
  padding: 0;
}
footer{
  clear: both;
  color: #fff;
  background-color: #15b9ec;
  text-align: center;
}
footer h2{
  padding-top: 20px;
  margin-top: 0;
}
footer p{
  max-width: 18.75em;
  margin:1em auto;
}
#copyright{
  margin-bottom: 0;
  font-size: .7em;
  padding-bottom: .5em;
}

#about-page .col-md-6{
  width: 50%;
  float: left;
}
#about-page h1 {
  text-align: center;
}
#about-page h2 {
  text-align: center;
}
#about-page h3 {
  text-align: center;
  margin-top: 0;
}
#about-page .row {
  text-align: center;
}
#skills-and-tools h3{
  text-decoration: underline;
}
#divider{
  background-color: black;
  height: 2px;
  width: 100%;
  margin: 2em auto;
}

/* ==============================
Medium Devices, 640px+
================================= */
@media only screen and (min-width: 640px){
  #hero-wrapper{
    /* padding: 0px; */
  }
  header{
    text-align: unset;
    padding: 20px 10px;
  }
  #work h2{
    padding: 0 10px;
  }
  #work h3{
    margin-top: 0;
  }
  .logo{
    margin: unset;
    display: inline-block;
    font-size: 0px;
    line-height: 0px;
  }
  nav{
    display: inline-block;
    float: right;
    margin-top: 20px;
  }
  nav.container a{
    font-size: 1em;
  }
  body{
    /* font-size: 18px; */
  }

  #hero p{
    /* width: 400px; */
    margin: 18px auto 38px;
  }

/* =====Columns===== */
  .col-md-6 {
    width: 50%;
    /* display: inline-block; */
    float:right;
  }
  /* ???Had to force skills/tools to override col-md-6 */
  div#skills-and-tools{
    width: 100%;
  }
  [class*="col-"]{
    float:left;
    /* margin-left: 10px; */
    padding: 0 0 0 20px;
  }
  .project-image{
    padding: 0
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* =======About Page======= */

  #divider{
    /* width: 80%; */
  }

  /* ======Buttons====== */
  #about-page .button{
    /* margin: 1em auto; */
    display: block;
  }
  footer .button{
    margin: 0 auto;
    display: block;
  }
  footer{
    text-align: center;
  }

}


/* ==============================
Large devices (1024px+)
================================= */
@media only screen and (min-width: 1024px) {
  body{
    font-size: 20px;
  }
  #hero p{
    max-width: 450px;
  }
  header{
    margin: 0 auto;
    padding: 20px 0;
  }
  .wrapper {
    padding: 0 75px;
  }
  .button{
    width: 300px;
  }
  .button.contact{
    width: 300px;
  }
  .icon{
    width: 48px;
    margin: 10px;
    /* border: 1px solid; */
  }
  .flex-icons{
    width: 300px;
  }

  #divider{
    display: none;
  }
  #lg-button-br{
    display: block;
  }
  div#skills-and-tools{
    width: 342px;
    /* width: unset; */
    padding: 0;
  }
  #skills-and-tools .col-md-6{
    padding: 0;
  }
  .col-lg-7{
    width: 58.33%;
  }
  .col-lg-5{
    width: 41.67%;
    float: right;
  }
}

/* ==============================
X-large devices (1440px+)
================================= */
@media only screen and (min-width: 1440px) {
}

#work-svg{
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* =============
Animations
================ */

/* ===Sun=== */
@keyframes color-change {
  0% {fill: #edc655;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 10s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /* animation: 4s color-change infinite alternate linear; */
}
/* ===Clouds=== */
@keyframes cloud-move {
  0% {transform: translate(0,50px);}
  50% {transform: translate(200px,50px);}
  100% {transform: translate(0,50px);}
}
.cloud-front{
  animation: 25s cloud-move infinite normal ease-in-out;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 78s cloud-move-reverse infinite alternate linear;
}
